<% @post.comments.each do |comment| %>
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>
  <p>
    <%= comment.body %>
  </p>
  <p>
    <%= time_ago_in_words(comment.created_at) %>Ago
  </p>
<% end %>
