<h1>Love Blog!</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p><%= post.created_at.strftime("%B, %d, %Y") %></p>
<% end %>

<%= link_to "Create New Posts", new_post_path %>
<%= link_to "Posts", posts_path %>
