/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 $pink01: #FFF0F6; // For background
 $pink02: #FFAFD1;
 $pink03: #FF94C1;
 $pink04: #FFDEEC;
 $grey: #D8D8D8;
 $Roboto: 'Roboto', sans-serif;
 $Lora: 'Lora', serif;
 $navBar-top01: 15px;
 $navBar-top02: 10px;
 $placeholder: #606060;

 $margin-left-g: 200px;
 $margin-right-g: 200px;

 body {
   background-color: $pink01;
   margin: 0;
   padding: 0;
 }

.btn {
  border: 2px solid $pink02;
  border-radius: 30px;
  width: 70px;
  padding: 10px 10px;
  text-decoration: none;

  font-family: $Roboto;
  font-weight: normal;
  text-align: center;
  color: $pink02;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

 // NAVBAR
 .navbar {
   list-style-type: none;
   background-color: white;
   overflow: hidden;
   margin: 0;
   padding: 0;
   // line-height: 60px;
   height: 60px;

   a {
     display: inline-block;
     text-decoration: none;
     text-align: center;
     // Transition settings for entire nav-bar
   }
   .nav-header {
     margin-top: $navBar-top01;
     margin-left: $margin-left-g;
     font-family: $Roboto;
     font-weight: bold;
     font-size: 25px;
     color: $pink02;
   }
   .nav-header:hover {
     color: $pink04;
   }

   .nav-btn {
     float: right;
     margin-right: $margin-right-g;
     margin-top: $navBar-top02;

     // -webkit-transition-duration: 0.4s; /* Safari */
     // transition-duration: 0.4s;
   }
   .nav-btn:hover {
     background-color: $pink02;
     color: white;
   }
   .create {
     margin-right: 10px !important;
     border: 2px solid $grey;
     width: 150px;
     color: $grey;
   }
   .create:hover {
     background-color: white;
     border: 2px solid #909090;
     color: #909090;
   }
 }

// Alert
.notice {
  margin-left: $margin-left-g;
  color: white;

  font-family: $Roboto;
}


 // BODY - CARD
 .card {
   background: white;
   margin-left: $margin-left-g;
   margin-top: 10px;
   padding: 20px 30px;
   max-width: 50%;

   font-family: $Roboto;

   .name {
     color: $pink02;
   }
   .date {
     color: $grey;
     font-size: 12px;
   }
   .title {
     font-size: 30px;
     font-weight: bold;
     text-decoration: none;
     color: black;
   }
   .read-more {
     font-size: 12px;
     font-weight: bold;
     text-decoration: none;
     color: $grey;
   }
 }

 // INDIVIDUAL POSTS

 // CSS-Grid
.grid-container {
 display: grid;
 grid-template-columns: $margin-left-g 100px auto 150px 150px $margin-left-g;
 grid-template-rows: auto auto auto auto 30px;

 grid-template-areas:
 ". header-nav-01 header-nav-02 header-nav-03 header-nav-04 ."
 ". title title title title ."
 ". contents contents contents contents."
 ". . . footer-01 footer-02 ."
 ". . . . . ."
 ;
}
.grid-header-01 {
  grid-area: header-nav-01;
}
.grid-header-02 {
  grid-area: header-nav-02;
}
.grid-title {
  grid-area: title;
}
.grid-contents {
  grid-area: contents;
}
.grid-footer-01 {
  grid-area: footer-01;
}
.grid-footer-02 {
  grid-area: footer-02;
}


.post-container {
  background: white;

  .back-btn {
    margin: auto 0;
    width: 20px;
  }
  .back-btn:hover {
    background-color: $pink02;
    color: white;
    width: 50px;
  }
  .post-information {
    margin: auto 0;
    font-family: $Roboto;
    .name {
      color: $pink02;
    }
    .date{
      font-size: 12px;
      color: $grey;
    }
  }

  h1.title {
    margin-top: 50px;
    font-family: $Roboto;
    font-size: 36px;
  }
  p.content {
    margin-bottom: 60px;
    font-family: $Lora;
    font-size: 20px;
    line-height: 200%;
  }

  // Edit & Delete btn
  .edit-btn {
    border: 2px solid $grey;
    width: 100px;
    color: $grey;
  }
  .edit-btn:hover {
    background-color: $grey;
    color: white;
  }
  .delete-btn {
    border: 2px solid red;
    width: 100px;
    color: red;
  }
  .delete-btn:hover {
    background-color: red;
    color: white;
  }
}


// NEW POSTS && EDIT POSTS
.new-post {
  margin-top: 0px;
  padding-bottom: 50px;
  background-color: white;
  .new_post {
    margin-left: $margin-left-g;
    margin-right: $margin-left-g;
    padding-top: 50px;
  }
  .edit_post {
    margin-left: $margin-left-g;
    margin-right: $margin-left-g;
    padding-top: 50px;
  }
  #post_title {
    width: 100%;
    margin-bottom: 50px;
    font-size: 60px;
    color: #a0a0a0;
    border-style: hidden;
    color: $placeholder;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #post_title::-webkit-input-placeholder { color:$grey; }
  #post_title::-moz-placeholder { color:$grey; }
  #post_title:-moz-placeholder { color:$grey; }
  #post_title:-ms-input-placeholder { color:$grey; }
  textarea {
    width: 100%;
    height: 600px;
    border: 2px solid $pink03;
    font-size: 48px;
    color: $placeholder;
    border-style: hidden;

    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  textarea::-webkit-input-placeholder { color:$grey; }
  textarea::-moz-placeholder { color:$grey; } /* Firefox 19+ */
  textarea:-moz-placeholder { color:$grey; } /* Firefox 18- */
  textarea:-ms-input-placeholder { color:$grey; }
  input[type=submit] {
    font-size: 15px;
    width: 100px;
  }
  input[type=submit]:hover {
    background-color: $pink02;
    color: white;
  }
}

// COMMENTS
.post-comment{
  margin-left: $margin-left-g;
  margin-bottom: 100px;
  h2 {
    font-family: $Roboto;
  }

  //COMMENT-CONTENT
  .comment-content {
    margin-bottom: 30px;
    margin-right: $margin-left-g;
    padding: 20px;
    font-family: $Roboto;
    background: white;
    .comment-header{
      color: $pink02;
    }
    .comment-time{
      font-size: 12px;
      color: $grey;
    }
    .comment-body {
      margin: 50px 0px;

      font-family: $Lora;
    }

    .delete-btn {
      border: 2px solid red;
      color: red;
      margin-left: 85%;
      margin-bottom: 50px;
    }
    .delete-btn:hover {
      background-color: red;
      color: white;
    }
  }

  // COMMENT-INPUT
  .new_comment {
    background: white;
    margin-right: $margin-left-g;
    padding: 20px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    textarea {
      width: 100%;
      height: auto;
      border: 2px solid $pink03;
      font-size: 48px;
      color: #a0a0a0;
      border-style: hidden;

      overflow: auto;
      outline: none;
      resize: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    textarea::-webkit-input-placeholder { color:$grey; }
    textarea::-moz-placeholder { color:$grey; } /* Firefox 19+ */
    textarea:-moz-placeholder { color:$grey; } /* Firefox 18- */
    textarea:-ms-input-placeholder { color:$grey; }
    input[type=submit] {
      font-size: 15px;
      width: 100px;
      background-color: white;
    }
    input[type=submit]:hover {
      background-color: $pink02;
      color: white;
    }
  }
  .new_comment:hover {
    box-shadow: 0px 0px 5px 1px $pink03;
  }
}

footer {
  background: $pink01;
  margin-bottom: 100px;
  padding-top: 100px;

  font-family: $Roboto;
  font-size: 14px;
  text-align: center;

  a {
    text-decoration: none;
    color: $grey;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  a:hover {
    color: $pink03;
  }
}

// LOGIN && REGISTRATIONS

.devise-container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  h2 {
    font-family: $Roboto;
    font-size: 60px;
    text-align: center;
    color: $pink02
  }
  .login-content {
    margin-left: $margin-left-g;
    margin-right: $margin-left-g;
    .new_user {
      // Error Explanations
      ul {
        font-family: $Roboto;
        font-style: italic;
        color: $grey;
        text-align: center;
      }
      div.field {
        #user_email {
          width: 100%;
          height: auto;
          border: 2px solid $pink03;
          font-size: 60px;
          color: #a0a0a0;
          border-style: hidden;

          overflow: auto;
          outline: none;
          resize: none;

          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
        #user_email::-webkit-input-placeholder { color:$grey; }
        #user_email::-moz-placeholder { color:$grey; } /* Firefox 19+ */
        #user_email:-moz-placeholder { color:$grey; } /* Firefox 18- */
        #user_email:-ms-input-placeholder { color:$grey; }

        #user_password {
          width: 100%;
          height: auto;
          border: 2px solid $pink03;
          font-size: 60px;
          color: #a0a0a0;
          border-style: hidden;

          overflow: auto;
          outline: none;
          resize: none;

          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
        #user_password::-webkit-input-placeholder { color:$grey; }
        #user_password::-moz-placeholder { color:$grey; } /* Firefox 19+ */
        #user_password:-moz-placeholder { color:$grey; } /* Firefox 18- */
        #user_password:-ms-input-placeholder { color:$grey; }

        #user_password_confirmation {
          width: 100%;
          height: auto;
          border: 2px solid $pink03;
          font-size: 60px;
          color: #a0a0a0;
          border-style: hidden;

          overflow: auto;
          outline: none;
          resize: none;

          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
        #user_password_confirmation::-webkit-input-placeholder { color:$grey; }
        #user_password_confirmation::-moz-placeholder { color:$grey; } /* Firefox 19+ */
        #user_password_confirmation:-moz-placeholder { color:$grey; } /* Firefox 18- */
        #user_password_confirmation:-ms-input-placeholder { color:$grey; }

        em {
          font-family: $Roboto;
          font-style: italic;
          color: $pink02
        }

        input[type=checkbox] {
          margin-top: 50px;
        }
        label {
          margin-top: 50px;
          font-family: $Roboto;
          color: $pink02;
        }
      }
    }
    input[type=submit] {
      font-size: 15px;
      width: auto;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    input[type=submit]:hover {
      background-color: $pink02;
      color: white;
    }
  }

  // SIGN-UP / REGISTRATION BUTTONS
  .sign-up-btn {
    margin-bottom: 50px;
    border: 2px solid #49965a;
    color: #49965a;
    background-color: white;
  }
  .sign-up-btn:hover {
    background-color: #49965a;
    color: white;
  }

  .frgt-password-btn {
    border: 2px solid red;
    color: red;
    background-color: white;
  }
  .frgt-password-btn:hover {
    background-color: red;
    color: white;
  }

  .login-btn {
    margin-bottom: 50px;
    border: 2px solid $pink02;
    background-color: white;
    color: $pink02;
  }
  .login-btn:hover {
    background-color: $pink02;
    color: white;
  }
}
