// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);


$pink01: #FFF0F6; // For background
$pink02: #FFAFD1;
$pink03: #FF94C1;
$pink04: #FFDEEC;
$grey: #D8D8D8;
$Roboto: 'Roboto', sans-serif;
$navBar-top01: 15px;
$navBar-top02: 10px;

$margin-left-g: 200px;
$margin-right-g: 200px;

body {
  background-color: $pink01;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  // line-height: 60px;
  height: 60px;

  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;

    // Transition settings for entire nav-bar
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .nav-header {
    margin-top: $navBar-top01;
    margin-left: $margin-left-g;
    font-family: $Roboto;
    font-weight: bold;
    font-size: 25px;
    color: $pink02;
  }
  .nav-header:hover {
    color: $pink04;
  }

  .nav-btn {
    float: right;
    margin-right: $margin-right-g;
    margin-top: $navBar-top02;
    border: 2px solid $pink02;
    border-radius: 30px;
    width: 70px;
    padding: 10px 10px;

    font-family: $Roboto;
    font-weight: normal;
    color: $pink02;

    // -webkit-transition-duration: 0.4s; /* Safari */
    // transition-duration: 0.4s;
  }
  .nav-btn:hover {
    background-color: $pink02;
    color: white;
  }
  .create {
    margin-right: 10px !important;
    border: 2px solid $grey;
    width: 150px;
    color: $grey;
  }
  .create:hover {
    background-color: white;
    border: 2px solid #909090;
    color: #909090;
  }
}

.card {
  background: white;
  margin-left: $margin-left-g;
  margin-top: 10px;
  padding: 20px 30px;
  max-width: 50%;

  font-family: $Roboto;

  .name {
    color: $pink02;
  }
  .date {
    color: $grey;
    font-size: 12px;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .read-more {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: $grey;
  }
}
